name: Daily Job

on:
  workflow_dispatch:
  schedule:
    - cron: '30 0 1/3 * *'

jobs:
  import-data:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up Git user
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"

      - name: Cache R packages
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/R
            ~/.local/share/renv
            ~/.Renviron
          key: r-${{ runner.os }}-${{ hashFiles('**/DESCRIPTION') }}-${{ hashFiles('**/renv.lock') }}
          restore-keys: |
            r-${{ runner.os }}-

      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Install dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: |
            any::RCurl
            any::rvest
            any::stringr
            any::pingr

      - name: Write secrets to files
        run: |
          echo "${XURL}" > xurl
          # echo "${XURL2}" > xurl2
        env:
          XURL: ${{ secrets.XURL }}
          # XURL2: ${{ secrets.XURL2 }}

      - name: Import data
        run: Rscript -e 'source("vls.R")'

      - name: Check for changes
        run: |
          git add myips.csv
          git diff --cached --quiet || git commit -m "update"

      - name: Push changes
        if: success()
        run: git push origin HEAD:main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
